* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  max-width: 450px;
}
#inputItems,
#inputList {
  margin: 10px auto 25px auto;
  display: block;
}
.r {
  display: none;
}
.anim {
  animation: toUp 0.3s;
}

@keyframes toUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
