* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #141414;
}
header {
  background: #f1f1f1;
  padding: 10px 0;
}
input {
  margin: 30px auto;
  display: block;
  font-size: 1.5rem;
  padding: 4px 0px 4px 5px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
}
.lista {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
.lista li {
  list-style: none;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  /* rotate: 30deg; */
}
.loadElement {
  display: none;
  width: 0;
  height: 5px;
  border-radius: 8px;
  background: #141414;
  animation: 0.3s load forwards;
  margin: 20px auto;
}
@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}
.anima {
  animation: anima 0.4s forwards;
}
@keyframes anima {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
