* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #141414;
}
header {
  background: #f1f1f1;
  padding: 10px 0;
}
input {
  margin: 30px auto;
  display: block;
  font-size: 1.5rem;
  padding: 4px 0px 4px 5px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.container div {
  max-width: 400px;
  background: #f1f1f1;

  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container div h1,
.container div p {
  text-align: center;
}

.anima {
  animation: anima 0.3s;
}

@keyframes anima {
  from {
    transform: translate3d(0, -30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.loadElement {
  animation: load;
  height: 5px;
  background-color: dimgrey;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
